annotated-types==0.7.0
boto3==1.43.2
botocore==1.43.2
isaac-s3-reader @ git+https://github.com/isaac-srl/AWS_manager.git@v2.0.0#subdirectory=s3-data-reader
jmespath==1.1.0
matplotlib
pydantic==2.13.3
pydantic_core==2.46.3
pymongo>=4.0,<5.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.17.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3